########################################
########################################
# Bed
########################################
########################################

########################################
# 	BED Heater
########################################

[heater_bed]
##	Stepper Specific Pins
heater_pin: PA3
sensor_pin: PF4

##	Thermister & temperature control
sensor_type: Generic 3950
control: pid
min_temp: 0
max_temp: 130
pid_Kp: 58.048
pid_Ki: 4.253
pid_Kd: 198.087

[verify_heater heater_bed]
check_gain_time: 180


[bed_mesh]
zero_reference_position: 167, 167 
speed: 600
horizontal_move_z: 10
probe_count: 60, 60
algorithm: bicubic
bicubic_tension: 0.2
mesh_min: 50, 30
mesh_max: 290, 290

########################################
# Quad Gantry Level
########################################

[quad_gantry_level]

gantry_corners:
  -60,-10
  410,420
  
#  Probe points
points:
  50,30
  50,260
  290,260
  290,30

speed:200
horizontal_move_z: 10
min_horizontal_move_z: 1.0
adaptive_horizontal_move_z: True
retries: 15
retry_tolerance: 0.0075
max_adjust: 20

########################################
# Safe Z home
########################################

[safe_z_home]
home_xy_position: 167, 167
#   A X, Y coordinate (e.g. 100, 100) where the Z homing should be
#   performed. This parameter must be provided.
speed: 50.0
#   Speed at which the toolhead is moved to the safe Z home
#   coordinate. The default is 50 mm/s
z_hop: 10
#   Distance (in mm) to lift the Z axis prior to homing. This is
#   applied to any homing command, even if it doesn't home the Z axis.
#   If the Z axis is already homed and the current Z position is less
#   than z_hop, then this will lift the head to a height of z_hop. If
#   the Z axis is not already homed the head is lifted by z_hop.
#   The default is to not implement Z hop.
z_hop_speed: 15.0
#   Speed (in mm/s) at which the Z axis is lifted prior to homing. The
#   default is 15 mm/s.
#move_to_previous: False
#   When set to True, the X and Y axes are reset to their previous
#   positions after Z axis homing. The default is False.



