########################################
########################################
# Main Config
########################################
########################################

# print bed size (310,345)

########################################
# Includes
########################################

[include mainsail.cfg]
[include tmc_autotune.cfg]
[include auto_speed.cfg]
[include cartographer.cfg]
[include steppers.cfg]
[include toolhead.cfg]
[include bed.cfg]
[include shaketune.cfg]
# [include KAMP_Settings.cfg]
# [include macros/*.cfg]
[include rpi.cfg]
[include motors_sync.cfg]


########################################
# MCU
########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_45000E001451333031373837-if00

[mcu skr]
serial: /dev/serial/by-id/usb-Klipper_rp2040_454741505B82D86A-if00


########################################
# Temperature Sensor Octopus Pro
########################################

[temperature_sensor Octopus Pro]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 100


########################################
# Temperature Sensor SKR Pico
########################################

[temperature_sensor SKR Pico]
sensor_type: temperature_mcu
sensor_mcu: skr
min_temp: 0
max_temp: 100


########################################
# Printer Limits
########################################

[printer]
kinematics: corexy
max_velocity: 800
max_accel: 20000
max_z_velocity: 20
max_z_accel: 1000
square_corner_velocity: 5


########################################
# Other
########################################

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.4

# Enable Force Moves
[force_move]
enable_force_move: True

# Virtual SD Card Setup
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

# Enable Display Status
[display_status]

# Pause/Resume functionality with support of position capture and restore. 
[pause_resume]

# Add Danger Options
[danger_options]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [scanner model default]
#*# model_coef = 1.3132102327898083,
#*# 	  1.7320273517576896,
#*# 	  0.7764733452134839,
#*# 	  0.3665555173784904,
#*# 	  0.33199863455781575,
#*# 	  0.42982677098395783,
#*# 	  -0.1384288776051132,
#*# 	  -0.3485151257127978,
#*# 	  0.2661451765781795,
#*# 	  0.27120884037738713
#*# model_domain = 3.1220560198468077e-07,3.3103454522519715e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 23.337313
#*# model_offset = 0.00000
#*#
#*# [scanner]
#*# scanner_touch_threshold = 3500
