# ########################################
# ########################################
# # Hotend
# ########################################
# ########################################

# ########################################
# # Extruder
# ########################################

[extruder]
# rotation_distance: 3.57953126331
# rotation_distance: 22.9834
# gear_ratio: 50:10
microsteps: 16
full_steps_per_rotation: 200


rotation_distance: 55
gear_ratio: 44:10 , 37:17 #for 10 teeths .



# ########################################
# # MPC Control
# ########################################

control: mpc
heater_power: 100  
cooling_fan: fan
filament_diameter: 1.75
filament_density: 1.07
filament_heat_capacity: 1.8 

# ########################################
# # Nozzle
# ########################################

nozzle_diameter: 0.5
filament_diameter: 1.750

max_extrude_only_distance: 350
max_extrude_only_velocity: 120
max_extrude_only_accel: 10000

min_temp: 0
max_temp: 350

step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
heater_pin: PA0
sensor_type: PT1000
sensor_pin: PF3

min_extrude_temp: 25
max_extrude_cross_section: 50
pressure_advance_smooth_time: 0.02

[verify_heater extruder]
max_error: 180
check_gain_time: 45
hysteresis: 5
heating_gain: 2

[tmc2209 extruder]
uart_pin: PF2
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False

# # #######################################
# # Fans - Hotend
# # #######################################

[heater_fan hotend_fan]
pin: PD15
heater: extruder
tachometer_pin: PG12
shutdown_speed: 0


# #######################################
# Neopixels - Toolhead
# #######################################

[neopixel toolhead]
pin: PB10
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRBW, GRBW, GRBW 
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. The default is GRB.
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0
#   See the "led" section for information on these parameters.

# #######################################
# Fans - CPAP
# #######################################

[fan]
pin: PB7
enable_pin: PB11
min_power: 0.12
max_power: 1
hardware_pwm: true
shutdown_speed: 0.0
cycle_time: 0.001 

# # #######################################
# # Filament Sensor - Entry
# # #######################################

# [filament_switch_sensor entry]
# switch_pin: !PG15

# # #######################################
# # Filament Sensor - Toolhead
# # #######################################

# [filament_switch_sensor toolhead]
# switch_pin: !PG14